<nav class="topnav navbar navbar-light">
  <div class="mr-auto">
    <h1>Welcome <%= current_employee.name %> </h1>
  </div>
  <ul class="nav">
  <li class="nav-item">
      <span class="avatar avatar-sm mt-5 ml-2">
        <%= image_tag 'face-1.jpg', class: "avatar-img rounded-circle" %>
      </span>
    </li>
  </ul>
</nav>